td, th {
  /* Align each chart and value in each table cell in the middle */
  vertical-align: middle !important;
  text-align: center !important;
}

.input-group {
  /* Increase the top margin for the search bar */
  margin: 20px 0;
}

/*
 * td:first-of-type : Finds the first td inside of each row
 * td:first-of-type > div : Finds the first td and its child div (the GoogleMap)
 */
td:first-of-type, td:first-of-type > div {
  height: 200px;
  width: 250px;
}